* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: Slug;
  src: url(../fonts/Slug.ttf);
}
:root {
  --orange1: #FFD200;
  --orange2: #F7971E;
  --white: white;
  --black: black;
  --grayish: #424242;
}

/*-----------------------NAV------------------------*/
body {
  overflow-x: hidden;
}

.nav {
  background: #F7971E;
  background: linear-gradient(to right, #F7971E, #FFD200);
}

.nav-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left img {
  width: 200px;
  display: block;
}

.menu {
  gap: 35px;
  display: flex;
  justify-content: space-between;
}
.menu > li {
  padding: 40px 0;
}
.menu > li > a {
  color: var(--white);
  transition: 0.3s;
  font-size: 30px;
  font-family: Slug;
  letter-spacing: 1px;
}
.menu > li > a:hover {
  color: var(--black);
}
.menu > li:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translateY(20px);
  margin-left: -15px;
  margin-top: 30px;
  width: 200px;
  background-color: var(--grayish);
  border-top: 4px solid var(--white);
  border-radius: 8px;
  transition: 0.3s;
}
.submenu > li > a {
  display: block;
  padding: 10px 15px;
  color: var(--white);
  transition: 0.3s;
  font-size: 18px;
  font-family: Slug;
  letter-spacing: 1.2px;
}
.submenu > li > a:hover {
  color: var(--orange1);
  padding-left: 20px;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-right a {
  color: var(--white);
  font-size: 22px;
  transition: 0.2s;
}
.nav-right a:hover {
  color: var(--black);
}

.burger {
  display: none;
}
.burger input {
  display: none;
}
.burger label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.burger i {
  font-size: 25px;
  color: var(--white);
}
.burger #open:checked + .burger-menu {
  right: 0;
}
.burger .burger-menu {
  position: fixed;
  right: -300px;
  transition: right 1s;
  width: 300px;
  padding: 10px;
  top: 63px;
  display: flex;
  flex-direction: column;
  background-color: var(--orange1);
  border-radius: 0 0 0 10px;
  border-left: 2px solid var(--grayish);
  border-bottom: 2px solid var(--grayish);
}
.burger .burger-menu > li:hover .burger-submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.burger .burger-menu > li > a {
  font-size: 22px;
  color: var(--white);
  font-family: Slug;
  letter-spacing: 1px;
  display: block;
  padding: 10px 15px;
  color: var(--white);
  transition: 0.3s;
}
.burger .burger-menu > li > a:hover {
  color: var(--black);
  padding-left: 20px;
}
.burger .burger-menu [for=close] {
  align-self: flex-end;
  right: 0;
}
.burger .burger-submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translateY(50px);
  width: 300px;
  background-color: var(--grayish);
  border-top: 4px solid var(--white);
  border-radius: 8px 0 0 8px;
  transition: 0.3s;
}
.burger .burger-submenu > li > a {
  display: block;
  padding: 10px 15px;
  color: var(--white);
  transition: 0.3s;
  font-size: 18px;
  font-family: Slug;
  letter-spacing: 1.2px;
}
.burger .burger-submenu > li > a:hover {
  color: var(--orange1);
  padding-left: 20px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    padding: 15px 0;
  }
  .nav-left {
    height: 60px;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger .burger-menu {
    top: 90px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .nav-left {
    height: 45px;
  }
  .nav-left img {
    width: 150px;
  }
  .burger .burger-menu {
    top: 75px;
  }
}
@media screen and (max-width: 484px) {
  .nav-left {
    height: 36px;
  }
  .nav-left img {
    width: 120px;
  }
  .nav-right a {
    font-size: 16px;
  }
  .burger .burger-menu {
    top: 66px;
  }
}
@media screen and (max-width: 484px) {
  .nav-left {
    height: 36px;
  }
  .nav-left img {
    width: 100px;
  }
  .burger .burger-menu {
    top: 66px;
  }
}
@media screen and (max-width: 300px) {
  .nav-left {
    height: 30px;
  }
  .nav-left img {
    width: 100px;
  }
  .burger .burger-menu {
    top: 60px;
    width: 250px;
    right: -250px;
  }
}
/*----------------HEADER-----------------------*/
header {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-position: right center;
  padding: 30px 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-txt {
  width: 60%;
  background-color: var(--orange2);
  font-family: Slug;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 15px;
}
.header-txt h1 {
  font-size: 80px;
  font-weight: 100;
  color: var(--white);
  letter-spacing: 2px;
}
.header-txt p {
  font-size: 20px;
}
.header-txt a {
  display: inline-block;
  font-size: 30px;
  padding: 10px 20px;
  color: var(--black);
  background-color: var(--white);
  align-self: flex-end;
  border-radius: 5px;
}

.header-image {
  width: 40%;
  text-align: center;
}
.header-image img {
  width: 180px;
}

@media screen and (max-width: 1200px) {
  .header-txt {
    width: 55%;
    padding: 30px;
  }
  .header-txt h1 {
    font-size: 60px;
  }
  .header-txt a {
    font-size: 25px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header-txt {
    width: 55%;
    padding: 30px;
  }
  .header-txt h1 {
    font-size: 40px;
  }
  .header-txt a {
    font-size: 20px;
  }
  .header-image {
    width: 45%;
  }
  .header-image img {
    width: 130px;
  }
}
@media screen and (max-width: 768px) {
  .header-txt {
    width: 55%;
    padding: 30px;
  }
  .header-txt h1 {
    font-size: 27px;
  }
  .header-txt p {
    font-size: 16px;
  }
  .header-txt a {
    font-size: 16px;
  }
  .header-image {
    width: 45%;
  }
  .header-image img {
    width: 100px;
  }
}
@media screen and (max-width: 484px) {
  .header-txt {
    width: 100%;
  }
  .header-txt h1 {
    font-size: 30px;
  }
  .header-txt p {
    font-size: 20px;
  }
  .header-txt a {
    font-size: 20px;
  }
  .header-image {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .header-txt {
    width: 100%;
  }
  .header-txt h1 {
    font-size: 20px;
  }
  .header-txt p {
    font-size: 14px;
  }
  .header-txt a {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */