* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    width: 100%;
}

@font-face {
    font-family: Slug;
    src: url(../fonts/Slug.ttf);
}

:root {
    --orange1: #FFD200;
    --orange2: #F7971E;
    --white: white;
    --black: black;
    --grayish: #424242;
}

/*-----------------------NAV------------------------*/
body {
    overflow-x: hidden;
}

.nav {
    background: #F7971E;
    background: -webkit-linear-gradient(to right, #F7971E, #FFD200);
    background: linear-gradient(to right, #F7971E, #FFD200);
}

.nav-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    img {
        width: 200px;
        display: block;
    }
}

.menu {
    gap: 35px;
    display: flex;
    justify-content: space-between;

    &>li {
        padding: 40px 0;

        &>a {
            color: var(--white);
            transition: .3s;
            font-size: 30px;
            font-family: Slug;
            letter-spacing: 1px;

            &:hover {
                color: var(--black);
            }
        }

        &:hover .submenu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

}

.submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(20px);
    margin-left: -15px;
    margin-top: 30px;
    width: 200px;
    background-color: var(--grayish);
    border-top: 4px solid var(--white);
    border-radius: 8px;
    transition: .3s;

    &>li>a {
        display: block;
        padding: 10px 15px;
        color: var(--white);
        transition: .3s;
        font-size: 18px;
        font-family: Slug;
        letter-spacing: 1.2px;

        &:hover {
            color: var(--orange1);
            padding-left: 20px;
        }
    }
}

.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;

    a {
        color: var(--white);
        font-size: 22px;
        transition: .2s;

        &:hover {
            color: var(--black);
        }
    }
}

.burger {
    display: none;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        user-select: none;
    }

    i {
        font-size: 25px;
        color: var(--white);
    }

    #open:checked+.burger-menu {
        right: 0;
    }

    .burger-menu {
        position: fixed;
        right: -300px;
        transition: right 1s;

        width: 300px;
        padding: 10px;
        top: 63px;
        display: flex;
        flex-direction: column;
        background-color: var(--orange1);
        border-radius: 0 0 0 10px;
        border-left: 2px solid var(--grayish);
        border-bottom: 2px solid var(--grayish);

        &>li {
            &:hover .burger-submenu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            &>a {
                font-size: 22px;
                color: var(--white);
                font-family: Slug;
                letter-spacing: 1px;
                display: block;
                padding: 10px 15px;
                color: var(--white);
                transition: .3s;

                &:hover {
                    color: var(--black);
                    padding-left: 20px;
                }
            }
        }

        [for=close] {
            align-self: flex-end;
            right: 0;
        }
    }

    .burger-submenu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translateY(50px);
        width: 300px;
        background-color: var(--grayish);
        border-top: 4px solid var(--white);
        border-radius: 8px 0 0 8px;
        transition: .3s;

        &>li>a {
            display: block;
            padding: 10px 15px;
            color: var(--white);
            transition: .3s;
            font-size: 18px;
            font-family: Slug;
            letter-spacing: 1.2px;

            &:hover {
                color: var(--orange1);
                padding-left: 20px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .container {
        padding: 0 30px;
    }

}

@media screen and (max-width:1024px) {
    nav {
        padding: 15px 0;
    }

    .nav-left {
        height: 60px;
    }

    .menu {
        display: none;
    }

    .burger {
        display: block;
        .burger-menu {
            top: 90px;
        }
    }
}

@media screen and (max-width:768px) {
    .container {
        padding: 0 20px;
    }

    .nav-left {
        height: 45px;

        img {
            width: 150px;
        }
    }

    .burger {
        .burger-menu {
            top: 75px;
        }
    }
}

@media screen and (max-width:484px) {

    .nav-left {
        height: 36px;

        img {
            width: 120px;
        }
    }
    .nav-right{
        a{
            font-size: 16px;
        }
    }
    .burger {
        .burger-menu {
            top: 66px;
        }
    }
}


@media screen and (max-width:484px) {

    .nav-left {
        height: 36px;

        img {
            width: 100px;
        }
    }
    
    .burger {
        .burger-menu {
            top: 66px;
        }
    }
}

@media screen and (max-width:300px) {
    .nav-left {
        height: 30px;

        img {
            width: 100px;
        }
    }
    
    .burger {
        .burger-menu {
            top: 60px;
            width: 250px;
            right: -250px;
        }
    }
}

// !todo FIX BURGER

/*----------------HEADER-----------------------*/
header {
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-position: right center;
    padding: 30px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    width: 60%;
    background-color: var(--orange2);
    font-family: Slug;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 15px;

    h1 {
        font-size: 80px;
        font-weight: 100;
        color: var(--white);
        letter-spacing: 2px;
    }

    p {
        font-size: 20px;
    }

    a {
        display: inline-block;
        font-size: 30px;
        padding: 10px 20px;
        color: var(--black);
        background-color: var(--white);
        align-self: flex-end;
        border-radius: 5px;
    }
}

.header-image {
    width: 40%;
    text-align: center;

    img {
        width: 180px;
    }
}



@media screen and (max-width:1200px) {
    .header-txt {
        width: 55%;
        padding: 30px;

        h1 {
            font-size: 60px;
        }

        a {
            font-size: 25px;
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width:1024px) {
    .header-txt {
        width: 55%;
        padding: 30px;

        h1 {
            font-size: 40px;
        }

        a {
            font-size: 20px;
        }
    }

    .header-image {
        width: 45%;

        img {
            width: 130px;
        }
    }
}


@media screen and (max-width:768px) {
    .header-txt {
        width: 55%;
        padding: 30px;

        h1 {
            font-size: 27px;
        }

        p {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }
    }

    .header-image {
        width: 45%;

        img {
            width: 100px;
        }
    }
}

@media screen and (max-width:484px) {
    .header-txt {
        width: 100%;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        a {
            font-size: 20px;
        }
    }

    .header-image {
        display: none;
    }
}

@media screen and (max-width:300px) {
    .header-txt {
        width: 100%;

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        a {
            font-size: 16px;
        }
    }
}